$primary   : #1a7f5a;
$secondary : #26A69A;
$accent    : #FF8F00;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
